
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',
  sans-serif;
  color: #FFFFFF;
  font-weight: 800;
}

.container {
  max-width: 1298px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.menu {
  padding: 20px 0 25px;
}


.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list-link {
  color: #fff;
  text-transform: uppercase;
}

.header__content {
  background-image: url('/hw3/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 76px 0;
  text-align: center;
  
}

.header__content-info {
  background-color: #000;
}

.title {
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FD7D54;
  margin-bottom: 18px;
  padding-top: 71px;
}

.title__text  {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.header__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 95px;
}

.header__item {
  border: 7px solid #fff;
  padding: 46px 0 25px;
  max-width: 24%;
}

.header__item-img {
  margin-left: auto;
  margin-right: auto;
}

.header__item-title {
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.12em;
  margin: 50px 0 46px;
  position: relative;
}

.header__item-title::after {
    content: '';
  position: absolute;
  bottom:0;
  left:45%;
  width:23px;
  margin-bottom: -24px;
  border-bottom: 3px solid #fff;
}

.header__item-text  {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
  padding: 0 33px;
  
}

.header__item-link {
  font-size: 19px;
  letter-spacing: 0.12em;
  color: #41C3F7;
  margin-top: 25px;
  text-transform: uppercase;
}

.header__bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bottom-text  {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}