body{
    width: 820px;
    margin: 0 auto;
}
header{
    width: 800px;
    height: 200px;
    border: red solid 1px;
}

nav{
    display: inline-block;
    width: 98px;
    height: 400px;
    border: orange solid 1px;
}

section{
    display: inline-block;
    width: 700px;
    height: 400px;
    border: orange solid 1px;
 
}
footer{
    width: 800px;
    height: 50px;
    border: orange solid 1px;
    margin-top: -5px;
}
